.App {
  margin: auto;
  width: 70%;
  padding: 10px;
}

.App-link {
  color: #61dafb;
}

.App-Title {
  display: flex;
  justify-content: center;
  font-family: 'Vollkorn', serif;
  color: #ffffff;
}

.App-Mood {
  display: flex;
  justify-content: center;
  font-family: 'Vollkorn', serif;
  font-size: 9pt;
}

.App-Mood a {
  color: #ffffff;
}

.App-Honey {
  color: #ffc30b;
}
