.App {
  margin: auto;
  max-width: 1264px;
  padding: 10px;
}

.App-link {
  color: #61dafb;
}

.App-TopConsumers-TopFlavors {
  display: flex;
  justify-content: center;
}

.App-ConnAttemps {
  width: 1000px;
}
