.Nav-Main ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.Nav-Main li {
  float: left;
}

.Nav-Main li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: bold;
}

.Nav-Main li a:not(.Nav-Main-Active) {
  color: white;
}

.Nav-Main li a:hover:not(.Nav-Main-Active) {
  background-color: #111;
}

.Nav-Main-Active {
}
